---
import SectionWrapper from '~/components/ui/SectionWrapper.astro';
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import type { CallToAction } from '~/types';

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  id,
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<SectionWrapper id="hero">
  <div id="hero_container" class="max-w-7xl mx-auto px-4 sm:px-6 md:-mt-16">
    <div
      id="hero_content_container"
      class="pt-0 md:pt-[76px] pointer-events-none py-12 md:py-20 flex flex-col gap-5 text-center pb-10 max-w-5xl mx-auto h-[100%]"
    >
      {tagline && <p class="text-base text-muted font-bold tracking-wide" set:html={tagline} />}
      {
        title && (
          <h1
            class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold leading-tighter tracking-tighter mb-4 font-heading "
            set:html={title}
          />
        )
      }

      <div id="hero_sub_container" class="max-w-3xl mx-auto">
        {subtitle && <p class="text-xl text-muted mb-6 " set:html={subtitle} />}
        {
          actions && (
            <div
              id="hero_action_container"
              class="max-w-xs sm:max-w-lg m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
            >
              {Array.isArray(actions) ? (
                actions.map((action) => (
                  <div class="flex w-full sm:w-auto">
                    <Button {...(action || {})} class="w-full sm:mb-0" />
                  </div>
                ))
              ) : (
                <Fragment set:html={actions} />
              )}
            </div>
          )
        }
      </div>
      {content && <Fragment set:html={content} />}
      {
        image && (
          <Image
            class="mx-auto rounded-md w-full mt-12"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading="eager"
            height={1440}
            {...image}
          />
        )
      }
    </div>
  </div>
</SectionWrapper>
