---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const hero_data = {
  title: "I write <span class='text-colorful'>flight software</span> for robotic spacecraft.",
  subtitle:
    "I'm a software and mission operations engineer at NASA's Jet Propulsion Laboratory. My passions include science, philosophy, coaching aspiring developers, and vegan food. I also write on my blog occasionally.",
  tagline: "Hi, I'm Elliot.",
  image: {
    src: '~/assets/images/hero/home.png',
    alt: 'Home Hero Image',
  },
};

const about_data = {
  title: 'About Me',
  content:
    "As a software engineer at NASA JPL, I specialize in flight software, cloud infrastructure for ground data systems, information and data management, and operations. I'm deeply passionate about what I do.`, `Before software, I studied philosophy and still enraptured by the discipline. When I'm not writing software, I'll often be reading, readying, writing, or debating.",
  image: {
    src: '~/assets/images/personal/train_headshot.jpg',
    alt: "Elliot's train headshot",
  },
};

const metadata = {
  title: 'Elliot Trapp',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    id="hero"
    title={hero_data.title}
    tagline={hero_data.tagline}
    actions={[
      { variant: 'primary', target: '_blank', text: 'Contact Me', href: '/' },
      {
        variant: 'secondary',
        icon: 'tabler:download',
        target: '_blank',
        text: 'Download Resume',
        href: '/',
      },
    ]}
    image={{ src: hero_data.image.src, alt: hero_data.image.alt }}
  >
    <Fragment slot="subtitle">
      {hero_data.subtitle}
    </Fragment>
  </Hero>

  <!-- Content Widget (About me) **************** -->

  <Content id="about" image={{ src: about_data.image.src, alt: about_data.image.alt }}>
    <!-- TODO: REWRITE  -->
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">{about_data.title}</h3>
      <p>
        As a software engineer at NASA JPL, I specialize in flight software, cloud infrastructure for ground data
        systems, information and data management, and operations. I'm deeply passionate about what I do.
      </p>
      <br />
      <p>
        Before software, I studied philosophy and still enraptured by the discipline. When I'm not writing software,
        I'll often be reading, readying, writing, or debating.
      </p>
      <br />
      <p>I'm very passionate about teaching the next generation of software engineers.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-alt"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="The latest posts from my blog"
    information={`I write about software, science, philosophy, urbanism, public transit, animal rights, and more.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Content Widget **************** -->

  <!-- TODO: REWRITE  -->
  <Content
    id="porfolio"
    title="Portfolio Highlights"
    subtitle="Here are some of my favorite projects. I've worked on many more, but these are the ones I'm most proud of."
    isReversed
    items={[
      {
        title: 'Description:',
        description: '',
      },
      {
        title: 'Role:',
        description:
          'Delivered the module that ingested the realtime telemetry downlinked from the Mars Reconnaissance Orbiter (MRO) and Mars Express Orbiter (MEX). This module made it possible to visualization the positions of the orbiters supporting the Mars 2020 landing.',
      },
    ]}
    image={{
      src: '~/assets/images/personal/biden.jpg',
      alt: 'Biden image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Mars 2020 Landing Visualization: <br /><span class="text-2xl"
          >Enabled the world to witness the Mars Perservernece rover's history landing</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-alt"></div>
    </Fragment>
  </Content>

  <!-- TODO: REWRITE  -->
  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: '~/assets/images/personal/srl.jpg',
      alt: 'SRL image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Sample Return Lander Flight Software: <br /><span class="text-2xl"
          >Developed communication software for a robotic spacecraft on Mars</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get coached',
        href: '',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Get coached</Fragment>
    <Fragment slot="bg">
      <div class="absolute bg-alt inset-0"></div>
    </Fragment>
  </CallToAction>
</Layout>
