---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Cards from '~/components/widgets/Cards.astro';
import { getBlogPermalink, getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';

const hero_data = {
  title: "I write <span class='text-colorful'>flight software</span> for robotic spacecraft.",
  subtitle:
    "I'm a software and mission operations engineer at NASA's Jet Propulsion Laboratory. My passions include science, philosophy, coaching aspiring developers, and vegan food. I also write on my blog occasionally.",
  tagline: "Hi, I'm Elliot.",
  image: {
    src: '~/assets/images/hero/home.png',
    alt: 'Home Hero Image',
  },
};

const welcome_data = {
  title: 'Welcome',
  image: {
    src: '~/assets/images/personal/train_headshot.jpg',
    alt: "Elliot's train headshot",
  },
};

const metadata = {
  title: 'Elliot Trapp',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    id="hero"
    title={hero_data.title}
    tagline={hero_data.tagline}
    actions={[
      { variant: 'primary', target: '_blank', text: 'Contact Me', href: 'mailto:mail@elliottrapp.com' },
      {
        variant: 'secondary',
        icon: 'download',
        target: '_blank',
        text: 'Download Resume',
        href: '/src/assets/docs/Resume.pdf',
      },
    ]}
    image={{ src: hero_data.image.src, alt: hero_data.image.alt }}
  >
    <Fragment slot="subtitle">
      I'm a software and mission operations engineer at NASA's Jet Propulsion Laboratory. My passions include science,
      philosophy, <u
        ><a class="text-colorful" href={'https://www.staracodecareer.com'}>coaching aspiring developers</a></u
      >, and vegan food. I also write on <u><a class="text-colorful" href={getBlogPermalink()}> my blog</a></u>
      occasionally.
    </Fragment>
  </Hero>

  <!-- Content Widget (Welcome message) **************** -->

  <Content
    id="welcome"
    image={{
      class: '-mt-10 md:mt-auto mx-auto w-full rounded-lg bg-gray-500 shadow-lg',
      src: welcome_data.image.src,
      alt: welcome_data.image.alt,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-6">{welcome_data.title}</h2>
      <p>
        Hey! I'm a developer, amateur website designer, occasional writer, aspiring technical career coach, and animal
        aficionado. Working on creative projects is an excellent excuse to learn new tools and frameworks. I setup this
        website as a place to share my thoughts and projects. I hope you find something interesting here.
      </p>
      <br />
      <p>
        When I'm not coding, I enjoy scuba diving, science-fiction and horror films, playing with my dog, and the latest
        video games. I'm consistently engaged in learning new things. Currently, I'm learning new web frameworks and
        putting together a side business. I'm always looking to connect to other developers, so feel free to reach out!
      </p>
      <div
        id="hero_action_container"
        class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
      >
        <Button variant="primary" text="More about me" href={getPermalink('/about')} class="sm:w-auto mt-8" />
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-alt"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Latest posts"
    information={`I write about software, science, philosophy, urbanism, public transit, animal rights, and more.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Cards Widget **************** -->
  <Cards
    title="Projects"
    subtitle="Here are some of my favorite projects I've worked on."
    items={[
      {
        image: {
          src: '~/assets/images/personal/biden.jpg',
          alt: 'Biden pic',
        },
        title: 'Mars 2020 Landing Visualization',
        description:
          'Integrated orbiter telemetry into a visualization of the Mars 2020 landing sequence. The President tweeted this picture of him watching our visualization.',
      },
      {
        image: {
          src: '~/assets/images/personal/srl.jpg',
          alt: 'SRL pic',
        },
        title: 'Sample Return Lander Flight Software',
        description: 'Developing flight software for the SRL project',
      },
      {
        image: {
          src: '~/assets/images/personal/ocs.png',
          alt: 'SRL pic',
        },
        title: 'Operational Cloud Store',
        description:
          'Developed a data-lake supporting 27 engineering teams across the Mars 2020 and Europa Clipper projects',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get coached',
        href: '',
        target: '_blank',
        icon: 'download',
      },
    ]}
  >
    <Fragment slot="title">Get coached</Fragment>
    <Fragment slot="bg">
      <div class="absolute bg-alt inset-0"></div>
    </Fragment>
  </CallToAction>
</Layout>
